:root {
    --licorice-black: #22181C;
    --lapis-lazuli: #325F7B;
    --floral-white: #FFFCF5;
    --stiletto-red: #A4303F;
    --ocean-green: #419D78;
    --white: white;
    --grey: grey;
    --light-grey: lightgrey;
    --black: black;
}