html,
body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

.app {
  height: 100%;
  .main-container {
    &.is-logged-in {
      margin-left: calc(2rem + 32px);
      transition: 0.2s ease-in-out;

    }

    &.is-expanded {
      margin-left: 250px;
      transition: 0.2s ease-in-out;
    }
  }
}

@import url("./colors.scss");
@import url("./IMSidebar/IMSidebar.scss");
@import url("./Login/Login.scss");
@import url("./Register/Register.scss");
@import url("./Products/CreateEditProductsModal.scss");
@import url("./Products/ListProducts.scss");
@import url("./Suppliers/CreateEditSuppliersModal.scss");
@import url("./Suppliers/ListSuppliers.scss");
