html,
body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

.app {
  height: 100%;
}

@import url("./IMSidebar/IMSidebar.scss");
@import url("./Login/Login.scss");
@import url("./Register/Register.scss");
@import url("./Products/CreateEditProductsModal.scss");
@import url("./Products/ListProducts.scss");
