.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(#3b3b3b, white);

  .login {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    padding: 80px;
    gap: 16px;
    margin-top: 200px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h2 {
      display: flex;
      justify-content: center;
    }

    .login-inputs {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .checkbox {
        label {
          margin-left: 8px;
        }
        font-size: 15px;
      }

      .forgot-password {
        font-size: 13px;
        color: #0c1cab;
      }

      .forgot-password:hover {
        color: #0c1cab;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .login-button {
      display: flex;
      justify-content: center;
    }

    .create-account {
      display: flex;
      gap: 8px;
      font-size: 12px;

      .signup {
        color: #0c1cab;
        cursor: pointer;
      }

      .signup:hover {
        text-decoration: underline;
      }
    }
  }
}
