.register-container {
  width: 100%;
  height: 100%;

  .right {
    background: url('../../images/Signup_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 35%;
    height: 100%;
    right: 0rem;
  }
  .left {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100%;
    left: 0px;
    padding-top: 5%;
    background: var(--floral-white);
    color: var(--lapis-lazuli);

    .register {
      display: flex;
      flex-direction: column;
      padding: 7.5rem 7.5rem 0rem 7.5rem;
      gap: 1rem;

      h2 {
        display: flex;
        justify-content: center;
      }

      .register-inputs {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .p-password {
          input {
            width: 100%;
          }
        }
      }

      .register-button {
        display: flex;
        justify-content: center;
        background-color: var(--lapis-lazuli);
        border-color: var(--lapis-lazuli);
      }

      .user-signin {
        display: flex;
        gap: 0.5rem;
        font-size: 0.75rem;

        .signin {
          color: #0c1cab;
          cursor: pointer;
        }

        .signin:hover {
          text-decoration: underline;
        }
      }

    }
  }
}
