.register-container {

  .right {
    background: url('../../images/Signup_image.jpg');
    background-repeat: no-repeat;
    width: 35%;
    position: absolute;
    right: 0px;
    height: 100%;
  }
  .left {
    display: flex;
    width: 65%;
    position: absolute;
    left: 0px;
    height: 100%;
    background: var(--floral-white);
    color: var(--lapis-lazuli);
    flex-direction: column;
    align-items: center;
    padding-top: 5%;

    .register {
      display: flex;
      flex-direction: column;
      padding: 120px 120px 0px 120px;
      gap: 16px;
      width: 50%;

      h2 {
        display: flex;
        justify-content: center;
      }

      .register-inputs {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .p-password {
          input {
            width: 100%;
          }
        }
      }

      .register-button {
        display: flex;
        justify-content: center;
        background-color: var(--lapis-lazuli);
        border-color: var(--lapis-lazuli);
      }

      .user-signin {
        display: flex;
        gap: 8px;
        font-size: 12px;

        .signin {
          color: #0c1cab;
          cursor: pointer;
        }

        .signin:hover {
          text-decoration: underline;
        }
      }

    }
  }
}
